    已登录   <a href="{:U('Admin/User/change_psw')}" >修改密码</a> | <a href="{:U('Admin/Index/quit')}" >退出</a>
    <br/>
    <a href="{:U('Admin/User/info')}" >绑定公众号</a> | <a href="{:U('Admin/Rstuser/lists')}" >餐厅用户管理</a> | <a href="{:U('Admin/Rstuser/all_statistics')}" >运营统计</a> | <a href="{:U('Admin/Orderman/lists')}" >订餐顾客管理</a> |
    <br/><br/>
    <a href="{:U('Admin/Welcome/set')}" >欢迎语</a> | <a href="{:U('Admin/Follow/lists')}" >粉丝管理</a> | <a href="{:U('Admin/Menu/lists')}" >自定义菜单</a> | <a href="{:U('Admin/Keyword/maintain_lists')}" >关键词维护</a> | <a href="{:U('Admin/Keyword/replyText_lists')}" >关键词回复</a> |
    <br/><br/>